[user]
    email = sunfuze.1989@gmail.com
    name = sunfuze
[alias]
    st = status -s
    ci = commit
    l = log --oneline --decorate -12 --color
    ll = log --oneline --decorate --color
    lc = log --graph --color
    co = checkout
    br = branch
    rb = rebase
    sbi = submodule init
    sbu = submodule update
    sbp = submodule foreach git pull
    sbc = submodule foreach co master
[credential]
	helper = store
[core]
	autocrlf = input
[push]
	default = matching
