[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = git://github.com/magicmonty/bash-git-prompt
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git://github.com/tmux-plugins/tpm
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/sunfuze/.emacs.d.git
